include components/mixins
include components/doctype

body
    .wrapper
        include includes/header.pug
        main.page
            .article
                h1.article__title Designing Dashboards with usability in mind
                .article__info 
                    .article__year 2020
                    .article__category Dashboard, User Experience Design
                .article__text 
                    p 
                        |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.    
                    img(src="../img/a01.png", alt="")
                    p 
                        |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.    
                    img(src="../img/a02.png", alt="")
                    img(src="../img/a03.png", alt="")
        footer 
            include includes/footer.pug
    script(src="js/script.js")

