footer.footer
    .footer__container._container 
        .footer__social.social 
            a(href="http://").social__item.__icon-fb 
            a(href="http://").social__item.__icon-insta
            a(href="http://").social__item.__icon-ln
            a(href="http://" name="contact").social__item.__icon-tw
        .footer__copy Copyright ©2021 All rights reserved 