header.header 
    .header__content 
        .header__menu.menu
            .menu__icon.icon-menu
                span 
                span 
                span 
            .menu__body
                ul.menu__list 
                    li 
                        a.menu__link(href="/works.html") Works
                    li 
                        a.menu__link(href="/blog.html") Blog        
                    li 
                        a.menu__link(href="/") Home

    