section.hello 
    .hello__container._container
        .hello__content 
            h1.hello__title.title
                |Hi, I am John,<br> Creative Technologist
            .hello__text.text
                |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            a.hello__btn.btn Download Resume
        .hello__avatar 
           