section.recent-posts 
    .recent-posts__container._container
        .recent-posts__header 
            .recent-posts__title.title-posts Recent posts
            a(href="/blog.html").recent-posts__view-all View all
        .recent-posts__items
            .recent-posts__column 
                article.recent-posts__item.recent-post
                    a(href="/article.html").recent-post__title Making a design system from scratch
                    .recent-post__info 12 Feb 2020 
                        span | 
                        |Design, Pattern
                    .recent-post__text.text
                        |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            .recent-posts__column
                article.recent-posts__item.recent-post
                    a(href="/article.html").recent-post__title Creating pixel perfect icons in Figma
                    .recent-post__info 12 Feb 2020 
                        span | 
                        |Figma, Icon Design
                    .recent-post__text.text
                        |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.